/*==============================
  CSS Reset
===============================*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}