@use './base';
@use './variables';

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #f6f6f6;
}