.header-section {
    margin: 1.5rem;
}

h1 {
    font-family: "YoungSerif", sans-serif;
    color: var(--Stone900);
    font-weight: 400;
    font-size: 2rem;
    margin-block: 1rem;
/*    line-height: 115%; */
}

p {
    color: var(--Stone600);
    font-weight: 400;
    font-size: 1.05rem;
/*    line-height: 150%; */
}

/*==============================
  Media queries
===============================*/
@media (min-width: 768px) {
    img {
            border-radius: 0.850rem;
        }
  .header-section {
            padding: 0;
            margin: 0;
            margin-block: 1rem;
        }
        
    h1 {
        font-size: 2.6rem;
    }
}